.card-footer svg{
    width: 20px !important;
    height: 20px;
    display: block;
}
.card-footer .card-arrow{
    border: 1.5px solid black;
    border-radius: 50%;
    padding: 10px;
}
.card{
    height: 100%;
    border-width: 1.5px;
    box-shadow: 2px 2px 10px -2px rgba(50, 50, 50, 0.3);
    transition: all 0.4s ease-in-out;
}
.card:hover{
    transform: scale(1.1, 1.1);
}
.card::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.4s ease-in-out;
  }
  .card:hover::after {
    opacity: 1;
  }
.cardHolder{
    margin-bottom: 30px;
}
.card-footer{
    border-top: none;
    background-color: transparent;
    padding: 20px !important;
    display: flex;
}
.card-title{
    color: black;
    font-weight: 500;
}
.card-text{
    font-weight: 100;
}
.card-description{
    align-self: center;
}
.card-arrow{
    margin-left: auto;
}
.blackBtn{
    color: yellow !important;
    background-color: black !important;
}
.blackBtn:hover, .blackBtn:active{
    color: black !important;
    background-color: yellow !important;
    transform: scale(1.1, 1.1);
    transition: opacity 0.4s ease-in-out;
}
.yellowBtn{
    color: black !important;
    background-color: yellow !important;
}
.yellowBtn:hover, .yellowBtn:active{
    transform: scale(1.1, 1.1);
    transition: opacity 0.1s ease-in-out;
    color: yellow !important;
    background-color: black !important;
}
.yellowBtn, .blackBtn{
    border: none !important;
    margin-right: 15px;
    box-shadow: none !important;
}
.card-img-top {
    max-width: 100%;
    flex-shrink: 0;
}
@media(max-width: 991px){
    .card-body{
        padding-bottom: 0;
    }
    .card-footer{
        padding-top: 0 !important;
    }
    .XCard{
        padding-bottom: 0 !important;
    }
    .XCard .card-description{
        margin-bottom: 50px;
    }
}